/* COLORS */
:root {
    --green: #7ABC64;
    --white: #FFFFFF;
    --whiteGrey: #F6F6F6;
    --darkGrey: #494C4E;
    --lightGrey: #929AA3;
}

/* HEADER */
header {
    width: 100%;
    color: var(--lightGrey);
    background-color: var(--darkGrey);
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NAVBAR */
.navbar {
    position: sticky;
    height: 0px;
    top: 0;
    width: 100%;
    color: var(--white);
    z-index: 1;
}

.navContainer {
    padding: .7rem 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.navbar .logo img {
    height: 50px;
}

.navbar nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 2rem;
    padding: 0;
    padding-right: 1rem;
    font-size: .8rem;
}

/* FIXED BUTTONS */
.fixedButtons {
    position: fixed;
    z-index: 1;
    display: flex;
    top: 90px;
    right: 0;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.fixedButtons button {
    padding: 2px;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, .2);

}
.fixedButtons i {
    font-size: 2rem;
}
.fixedButtons .sale {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: var(--green);
    margin-left: 4px;
}

.fixedButtons .dollarPrice {
    font-size: 2rem;
}

/* HERO */

.hero {
    height: 580px;
    color: var(--white);
    background-image: url(../images/homepage-hero-background.jpg);
    width: 100%;
    background-position: bottom;
    background-size: cover;
}

.heroContent {
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* MAIN */

/* Callback Section */
.description {
    width: 50%;
    margin: 3rem 0 9rem;
}

.description h2 {
    font-size: 2rem;
    font-weight: 500;
}

.callback h4 {
    font-size: 1rem;
    line-height: 2rem;
    color: black;
    opacity: .6;
}

.description h5 {
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: black;
    opacity: .5;
    margin: 1rem 0;
    line-height: 1.7rem;
}

.requestACallback {
    align-self: baseline;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    margin-left: 2rem;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, .2);
    transform: translateY(-25px);
    background-color: white;
}

.requestACallback h2 {
    font-size: 1.5rem;
    color: var(--green);
}

.requestACallback h4 {
    text-align: center;
}

.requestACallback input {
    width: 100%;
    background-color: rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 1rem;
}

.requestACallback input:first-of-type {
    background-image: url(../images/image.png);
    background-repeat: no-repeat;
    background-position: 97%;
}

/* Start Learning Banner Section*/
.startLearningBanner {
    width: 100%;
    height: 13rem;
    background-image: url(../images/horizontal-cta-background.jpg);
    background-size: cover;
    color: var(--white);
}

.startLearning h2 {
    font-size: 2.4rem;
    padding-top: 0;
    padding-bottom: .3rem;
}

.startLearning h4 {
    font-weight: 400;
}

.startLearningBanner h3 {
    font-weight: 300;
    font-size: 1.5rem;
}

/* Courses Section */
.courses {
    width: 100%;
    background-image: url(../images/promise-background.jpg);
    background-position: bottom;
    background-size: cover;
    padding-bottom: 1rem;
}

.coursesBottom {
    transform: translateY(-1px);
    margin-bottom: 1rem;
    background-image: url(../svg/driving-triangle.svg);
    background-size: 100% 6rem;
    background-repeat: no-repeat;
}

.coursesBox {
    width: 40%;
    background-color: white;
    padding-bottom: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, .2);
}

.coursesBox img.new {
    height: 4rem;
    width: 4rem;
    border-radius: 6px 0 50% 0;
    align-self: flex-start;
    position: absolute;
    z-index: 0;
    padding: 0;
    margin: 0;
}

.courserNew {
    transform: translateY(-35px);
}

.coursesBox h2 {
    margin: 1.5rem;
    font-size: 1.7rem;
    z-index: 1;
}

.coursesBox h4 {
    font-size: .9rem;
    line-height: 1.7rem;
    margin: 1.5rem;
    margin-top: 0;
    text-align: center;
    overflow-y: auto;
}

.courses .box {
    width: 30%;
    margin-left: 1rem;
    text-align: center;
}

.courses .box img {
    width: 95%;
}

.courses .box h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: .5rem;
    color: var(--lightGrey);
}

.coursesBottom .container {
    flex-wrap: wrap;
    align-items: baseline;
}

.coursesBox {
    width: 32%;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, .2);
    border-radius: 10px;
    border-top: 3px solid var(--green);
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

/* Contacts */
.moreAboutUs {
    width: 100%;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, .8);
}

.moreAboutUs h2 {
    font-size: 2.5rem;
}

.moreAboutUs span {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .7);
}

.moreAboutUs button {
    min-width: 25%;
    margin-left: 1rem;
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.contacts .coursesBox {
    width: 30%;
    margin-bottom: 2rem;
}

.coursesBox.active {
    width: 35%;
    margin-bottom: 0;
}

.coursesBox img {
    width: 80%;
    margin: 1.5rem;
    border-radius: 2px;
}

.socialContainer {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.ratesBox {
    aspect-ratio: 1 / 1;
    align-self: center;
}
