/* COLORS */
:root {
    --green: #7ABC64;
    --white: #FFFFFF;
    --whiteGrey: #F6F6F6;
    --darkGrey: rgb(73, 76, 78);
    --lightGrey: #929AA3;
}

/* HEADER */
header {
    width: 100%;
    color: var(--lightGrey);
    background-color: var(--darkGrey);
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NAVBAR */
.navbar {
    position: sticky;
    height: 0px;
    top: 0;
    width: 100%;
    color: var(--white);
    z-index: 5;
    transition: all 0.01s linear;
}

.navContainer {
    background-color: rgba(73, 76, 78, .3);
    
    backdrop-filter: blur(10px);
    transition: all 0.4s linear;
}

.navbar .logo img {
    height: 50px;
}

.navbar nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 1.2rem;
    padding: 0;
    padding-right: 1rem;
    font-size: .8rem;
}

.navbar li {
    color: var(--white);
    transition: color 0.1s linear;
}

.navbar .new {
    display: flex;
    align-items: center;
}

.navbar .active,
.navbar li:not(:has(button)):hover {
    color: var(--green);
    border-bottom: 3px solid var(--green);
}

/* HERO */

.hero {
    height: 580px;
    color: var(--white);
    background-image: url(../images/homepage-hero-background.jpg);
    width: 100%;
    background-position: bottom;
    background-size: cover;
}

.heroContent {
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* MAIN */

/* Callback Section */
.description {
    width: 50%;
    margin: 3rem 0 9rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.requestACallback {
    align-self: baseline;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    padding: 2rem;
    margin-left: 2rem;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, .2);
    transform: translateY(-25px);
    background-color: white;
    text-align: center;
}

.requestACallback h2 {
    color: var(--green);
}

 input {
    width: 100%;
    background-color: rgba(0, 0, 0, .05);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 1rem;
}

.requestACallback input:first-of-type {
    background-image: url(../images/image.png);
    background-repeat: no-repeat;
    background-position: 97%;
}

/* Start Learning Banner Section*/
.startLearningBanner {
    width: 100%;
    height: 12rem;
    background-image: url(../images/horizontal-cta-background.jpg);
    background-size: cover;
    color: var(--white);
}

.startLearning {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Courses Section */
.courses {
    width: 100%;
    background-image: url(../images/promise-background.jpg);
    background-position: bottom;
    background-size: cover;
    padding-bottom: 1rem;
}

.coursesFooter {
    position: absolute;
    height: 6rem;
    width: 100%;
    display: flex;
}
.coursesFooter img {
    width: 100%;
    margin-top: 0.95rem;
    height: 6rem;
    z-index: 0;

}

.coursesBottom {
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    display: contents;
}

.coursesBox {
    width: 40%;
    background-color: white;
    padding-bottom: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, .2);
    z-index: 1;
}

.coursesBox img.new {
    height: 4rem;
    width: 4rem;
    border-radius: 6px 0 50% 0;
    align-self: flex-start;
    position: absolute;
    z-index: -1;
    padding: 0;
    margin: 0;
}

.courserNew {
    transform: translateY(-35px);
}

.coursesBox h4 {
    margin: 1.5rem;
    margin-top: 0;
    text-align: center;
    overflow-y: auto;
}

.courses .box {
    width: 30%;
    margin-left: 1rem;
    text-align: center;
}

.courses .box img {
    width: 95%;
}


.coursesBottom .container {
    flex-wrap: wrap;
    align-items: baseline;
}

.coursesBox {
    width: 32%;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, .2);
    border-radius: 10px;
    border-top: 3px solid var(--green);
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

/* Contacts */
.moreAboutUs {
    width: 100%;
    margin: 2rem 0 2rem 0;
    color: rgba(0, 0, 0, .8);
}


.moreAboutUs span {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2rem;
    color: rgba(0, 0, 0, .7);
    margin-bottom: 1rem;
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.contacts .coursesBox {
    width: 30%;
    margin-bottom: 2rem;
    z-index: 1;
}

.coursesBox.active {
    width: 35%;
    margin-bottom: 1rem;
}

.coursesBox img {
    width: 80%;
    margin: 1.5rem;
    border-radius: 2px;
}

.socialContainer {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.ratesBox {
    aspect-ratio: 1 / 1;
    align-self: center;
}

/* Testimonial Section */
.testimonials {
    transform: translateY(-8rem);
    padding-top: 12rem;
    height: 42rem;
    background-image: url(../images/testimonial-background.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.testimonials .container {
    height: auto;
    flex-direction: column;
    justify-content: center;
}

.testimonials span {
    opacity: .7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imgContainer {
    width: 15%;
    position: relative;
    aspect-ratio: 1 / 1;
    margin: 2rem 0 1rem 0;
}

.testimonials img {
    width: 100%;
    position: absolute;
    top: 0;
}

.quote {
    width: 50%;
    height: 180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    position: relative;
}

.quote span {
    position: absolute;
}

.testimonialName {
    align-self: flex-end;
    width: 100%;
    font-size: 1.5rem;
    color: var(--darkGrey);
}

.testimonialQuote {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 2rem;
    font-style: italic;
    font-weight: 300;
}

/* Latest News Section */
.latestNews {
    width: 100%;
    transform: translateY(-8rem);
    background-image: url(../images/latestnews-background.jpg);
    margin-bottom: 0;
    padding-bottom: 0;
}

.latestNews .container {
    flex-wrap: wrap;
}

.latestNews .coursesBox {
    border-color: var(--lightGrey);
    width: 100%;
    height: 100%;
    transform: translateY(-3rem);
    border-radius: 10px 10px 0 0;
}

.news {
    width: 100%;
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: space-around;
}

.latestNews .newsBox {
    width: 35%;
    height: 300px;
    text-align: center;
}

.latestNews .newsBox img {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

.latestNews .newsBox h3 {
    color: var(--green);
}

.newsTriangle {
    position: relative;
    top: 0;
    width: 100%;
    height: 4rem;
    transform: translateY(-4rem);
    fill: white;
    filter: brightness(150%);
    z-index: 2;
}

/* Newsteller Section */
.newsteller {
    transform: translateY(-8rem);
    background-image: url(../images/newsletter_background.jpg);
    background-size: cover;
    background-position: bottom;
}

.newsteller .container {
    flex-direction: column;
    justify-content:flex-start;
}

.newsteller input {
    width: 70%;
    margin: 2rem 0;
    background-color: var(--white);
}

.newsteller h5 {
    margin: 2rem 0 4rem 0;
}

/* Footer */
footer {
    background-color: var(--darkGrey);
    display: flex;
    position: absolute;
    flex-direction: column;
}
.footerHead {
    display: flex;
    padding: 0 2rem;
    justify-content: space-around;
    z-index: 1;
    background-image: url(../images/footer-background-color.jpg);
    margin-top: -8rem ;
}

.footerHead .container {
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
}

.footerDown .container {
    justify-content: center;
}



.footerHead .col {
    width: 22%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    color: white;
}

.footerHead .col img {
    width: 100%;
}

footer .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: var(--white);
}

footer .icon {
    width: 11%;
    color: var(--lightGrey);
}

footer .text {
    width: 90%;

}

footer .col-courses i,
footer .col-courses h4{
    color: var(--green);
}

.footerDown {
    width: 100%;
    text-align: center;
    height: 5rem;
    opacity: .6;
}

footer a {
    color: var(--green);
}