/* COLORS */
:root {
    --green: #7ABC64;
    --white: #FFFFFF;
    --whiteGrey: #F6F6F6;
    --darkGrey: #494C4E;
    --lightGrey: #929AA3;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    filter: brightness(120%);
}

/* BANNERS */
.newBanner {
    background-color: #7ABC64;
    width: 2rem;
    padding: 0 2px;
    margin: 0 2px;
    display: inline;
    filter: brightness(100%);
    transition: filter 0.1s linear;
    color: white;
}


.new:hover .newBanner {
    filter: brightness(105%);
}

/* FONTS */
html, body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

h2  {
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 0;
    margin: 0;
    line-height: 2.5rem;
}

h3 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

h4 {
    font-size: .9rem;
    line-height: 1.4rem;
    opacity: .8;
    margin: 0;
}

h5 {
    font-size: .8rem;
    font-weight: 400;
    opacity: .5;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

/* ICONS */
header i {
    font-size: inherit;
    margin: 0 0.5rem;
}

.startLearningBanner i {
    margin: 0 1rem;
}

.fixedButtons i {
    font-size: 2rem;
}

/* CONTAINER */
.container {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BUTTONS */
button {
    height: 35px;
    padding: 0 1rem;
    color: white;
    background-color: var(--green);
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    font-size: .8rem;
    filter: brightness(100%);
    transition: filter 0.1s linear;
    min-width: 25%;
}

button:hover {
    filter: brightness(105%);
}

button.outlined {
    height: 30px;
    margin: 0;
    background-color: inherit;
    color: black;
    opacity: .6;
    border: 3px solid black;
    font-weight: 600;
}

/* FIXED BUTTONS */
.fixedButtons {
    position: fixed;
    z-index: 6;
    display: flex;
    top: 90px;
    right: 0;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.fixedButtons button {
    padding: 2px;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, .2);

}

.fixedButtons .sale {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: var(--green);
    margin-left: 4px;
}

.fixedButtons .dollarPrice {
    font-size: 2rem;
}

.fixedButtons button {
    background-color: var(--white);
    color: black;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    height: 60px;
    margin: 0;
    padding: 0;
}

/* SPAN */
span {
    display: flex;
}

  /* CIRCLES */
  .circular-progress {
    margin: 2rem 0;
    position: relative;
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .circular-progress::before{
    content: '';
    position: absolute;
    width: 85%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
   }

   .progress-value {
    position: relative;
   }
   .coursesBox span {
    opacity: .8;
    text-align: center;
    padding: 10%;
   }

   /* DOTS */
   .dots {
    display: flex;
    gap: 4px;
   }
   .dot {
    width: 12px;
    aspect-ratio: 1 / 1;
    border: 3px solid var(--lightGrey);
    border-radius: 50px;
   }
   .dot.active {
    background-color: var(--lightGrey);
   }

   .list-enter-active,
   .list-leave-active {
    transform: translateX(0);
    opacity: 1;
    transition: all .4s ease;
   }
   .list-enter-from{
    opacity: 0;
   }
   .list-leave-to {
     opacity: 0;
   }